/* Device width */
$mobile-layout-width: 23.4375rem; /* 375px; */
$desktop-layout-width: 90rem; /* 1440px; */

/* Colors */
$sedan-color: hsl(31, 77%, 52%);
$suv-color: hsl(184, 100%, 22%);
$luxury-color: hsl(179, 100%, 13%);
$neutral-white-color: hsla(0, 0%, 100%, 0.75);
$neutral-gray-color: hsl(0, 0%, 95%);

/* Typography */
$font-size-base: 0.9375rem; /* 15px */
$font-size-large: 2.5rem; /* 40px */
$line-height-base: 1.5625rem; /* 25px */
$line-height-large: normal;
$font-weight-bold: 700;
$font-weight-regular: 400;

/* Spacing */
$spacing-l: 3rem; /* 48px*/
$spacing-m: 2.1875rem; /* 35px */
$spacing-base: 1.5625rem;

/* Borders */
$border-radius-soft: 8px;
$border-radius-rounded: 25px;
$border-size-s: 0.125rem; /* 2px; */
