/* Device width */
$mobile-layout-width: 23.4375rem; /* 375px; */
$desktop-layout-width: 90rem; /* 1440px; */

/* Colors */
$sedan-color: hsla(31, 76%, 52%, 1);
$suv-color: hsla(184, 100%, 22%, 1);
$luxury-color: hsla(179, 100%, 13%, 1);
$link-color: hsl(228, 45%, 44%);
$neutral-white-color: hsla(0, 0%, 100%, 0.75);
$neutral-gray-color: hsl(0, 0%, 95%);
$neutral-black-color: hsl(0, 0%, 13%);

/* Typography */
$font-size-base: 0.9375rem; /* 15px */
$font-size-large: 2.5rem; /* 40px */
$line-height-base: 1.5625rem; /* 25px */
$line-height-large: normal;
$font-weight-bold: 700;
$font-weight-regular: 400;

/* Spacing */
$space-none: 0rem;
$space-xxs: 0.6875rem; /* 11px */
$space-xs: 0.75rem; /* 12px */
$space-s: 1.84375rem; /* 29.5px */
$space-base: 1.5625rem; /* 25px */
$space-m: 2.1875rem; /* 35px */
$space-l: 3rem; /* 48px*/
$space-xl: 5rem; /* 88px */

/* Borders */
$border-radius-none: 0px;
$border-radius-soft: 8px;
$border-radius-rounded: 25px;
$border-size-s: 2px; /* 0.125rem */

@font-face {
  font-family: "Lexend Deca";
  src: url("../../public/fonts/LexendDeca/static/LexendDeca-Regular.ttf")
    format("truetype");
  font-weight: $font-weight-regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("../../public/fonts/BigShouldersDisplay/static/BigShouldersDisplay-Bold.ttf")
    format("truetype");
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap;
}
