button {
  width: 9.375rem; /* 150px */
  height: $space-l;
  border-radius: $border-radius-rounded;
  text-transform: capitalize;
  background-color: $neutral-gray-color;
  border: $border-size-s solid $neutral-gray-color;
  padding: $space-xxs $space-s $space-xs $space-s;
  margin-top: $space-base;

  &:hover {
    background-color: transparent;
    border: $border-size-s solid $neutral-white-color;
    color: $neutral-white-color;
    cursor: pointer;
  }

  /*&:focus {
    background-color: transparent;
    border: $border-size-s solid $neutral-white-color;
    color: $neutral-white-color;
    cursor: pointer;
  }*/
}

.card__button--sedan {
  color: $sedan-color;
}

.card__button--suv {
  color: $suv-color;
}

.card__button--luxury {
  color: $luxury-color;
}
