.card {
  padding: $space-l;
  max-width: 20.4375rem; /* 327px */    
  min-height: 27.625rem; /* 442px */   
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}

h1 {
  margin-top: $space-m;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: $font-weight-bold;
  color: $neutral-gray-color;
  text-transform: uppercase;
}

p {
  margin-top: $space-base;
  color: $neutral-white-color-opacity;
}

@mixin card-theme(
  $background-color,
  $top-left-radius: $border-radius-none,
  $top-right-radius: $border-radius-none,
  $bottom-left-radius: $border-radius-none,
  $bottom-right-radius: $border-radius-none
) {
  background-color: $background-color;
  border-top-left-radius: $top-left-radius;
  border-top-right-radius: $top-right-radius;
  border-bottom-left-radius: $bottom-left-radius;
  border-bottom-right-radius: $bottom-right-radius;
}

.card--sedan {  
  @include card-theme(
    $sedan-color,
    $top-left-radius: $border-radius-soft,
    $top-right-radius: $border-radius-soft
  );
}

.card--suvs { 
  @include card-theme($suv-color);
}

.card--luxury {  
  @include card-theme(
    $luxury-color,
    $bottom-left-radius: $border-radius-soft,
    $bottom-right-radius: $border-radius-soft
  );
}

@media (min-width: $desktop-layout-width) {
  .card--sedan {  
    @include card-theme(
      $sedan-color,
      $top-left-radius: $border-radius-soft,
      $bottom-left-radius: $border-radius-soft
    );
  }

  .card--luxury {  
    @include card-theme(
      $luxury-color,
      $top-right-radius: $border-radius-soft,
      $bottom-right-radius: $border-radius-soft
    );
  }

  .card {
    max-width: 19.1875rem; /* 307px */    
    min-height: 31.25rem; /* 500px */  
  }
}
