.card {
  padding: $space-l;
  max-width: 20.4375rem; /* 327px */    /*take this out*/
  min-height: 27.625rem; /* 442px */    /*take this out*/
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}

h1 {
  margin-top: $space-m;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: $font-weight-bold;
  color: $neutral-gray-color;
}

p {
  margin-top: $space-base;
  color: $neutral-white-color;
}

@mixin card-theme(
  $background-color,
  $top-left-radius: $border-radius-none,
  $top-right-radius: $border-radius-none,
  $bottom-left-radius: $border-radius-none,
  $bottom-right-radius: $border-radius-none
) {
  background-color: $background-color;
  border-top-left-radius: $top-left-radius;
  border-top-right-radius: $top-right-radius;
  border-bottom-left-radius: $bottom-left-radius;
  border-bottom-right-radius: $bottom-right-radius;
}

.card--sedan {   /*take this out*/
  @include card-theme(
    $sedan-color,
    $top-left-radius: $border-radius-soft,
    $top-right-radius: $border-radius-soft
  );
}

.card--suvs {  /*take this out*/
  @include card-theme($suv-color);
}

.card--luxury {   /*take this out*/
  @include card-theme(
    $luxury-color,
    $bottom-left-radius: $border-radius-soft,
    $bottom-right-radius: $border-radius-soft
  );
}
