body {
  font-family: "Lexend Deca", sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  background-color: $neutral-gray-color;
  display: flex;
  flex-direction: column;     
  align-items: center;      
  justify-content: center;  
  padding: $space-xl $space-none;
}

main > div{
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-layout-width) {
  main > div {
    flex-direction: row;
  }
}
