body {
    font-family: "Lexend Deca", sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    background-color: $neutral-gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5rem; /*88px*/
}

.card__bottom-border-radius--soft {
    border-bottom-left-radius: $border-radius-soft;
    border-bottom-right-radius: $border-radius-soft;
}

.card__top-border-radius--soft {
    border-top-left-radius: $border-radius-soft;
    border-top-right-radius: $border-radius-soft;
}

/*.card__left-border-radius--soft {
    border-top-left-radius: $border-radius-soft;
    border-bottom-left-radius: $border-radius-soft;
}

.card__right-border-radius--soft {
    border-top-right-radius: $border-radius-soft;
    border-bottom-right-radius: $border-radius-soft;
}*/